h1{
    text-align: center;
}

.about{
    text-align: left;
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
    font-family: "Pacifico", cursive;
}
hr    {height: 15px; background-color: #FA8072; border-radius: 15px}
.sub {
    font-family: "Asap Condensed", sans-serif;
    font-weight:500;
}
